<div class="text-center">
    <div class="error mx-auto" data-text="Error">Error</div>
    <p class="lead text-gray-800 mb-5">Before creating messages, please register your user</p>
    <p class="text-gray-500 mb-0">Click the following link to register your user</p>
    <a href="/users/create">Register user</a>
</div>