<!DOCTYPE html>
<html lang="en">


    <body>

        <h2>Pagina de ejemplo de muestra de la transacción <span style="color:darkblue"><%= tx %></span></h2>
        <h4>Esto se visualizará en la página de búsqueda de tx en Ethereum</h4>
        
    </body>

</html>